@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", system-ui;
    --fonte3: "Lobster", sans-serif;
}

   
*{margin: 0px;
padding: 0px;}

html, body{ background-color: darkseagreen;
    min-height: 100vh;   
    font-family: var(--fonte1);

}

header{ background-color: black;
color: white;
text-align: center;
font-family: var(--fonte2);
}

header > h1{
    padding-top: 50px;
    text-transform: uppercase; /* ou font-variant: small-caps;*/
    font-size: 3.5em;

}

header > p {
    padding-bottom: 50px;
    padding-bottom: 1em;

}

header a, footer a { color: white;
    text-decoration: none;
    font-weight: bolder;

}
header a:hover, footer a:hover { text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section.normal{
    background-color: aliceblue;
    color: black;
}

section.imagem{
background-color: rgba(0, 0, 0, 0.548);
color: azure;
box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
background-attachment: fixed;

}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.185);
    width: 400px;
    display: inline-block;
    padding: 4px;
}

section#img01{
background-image:url(../imagens/background001.jpg) ;
background-position: right center;
background-size: cover;

}

section#img02{
background-image: url(../imagens/background002.jpg);
background-size: cover;
background-position: left center;

}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}




